
body{ 
    
    max-width: 2400px; 
    width: auto; 
    padding-left: 50px;   
   
}

.corpo {
    position: relative;
    display: flex;
    justify-content: center;
    
}
.img-p{
    max-width: 100%;
    height: auto;
    z-index: -1;
    
   
}
div.segurança {
    position: absolute;
    top: 16.4%;
    left: 21.4%;
    transform: translate(-50%, -50%);
    width: 5%;       
    padding-bottom: 5%;
    
    border-radius: 50%;
  }

  .segurança .seg1{
    display: none;
    position: absolute;
   
    left: 200%;
    transform: translate(-50%, -50%);
    width: 200%;       
    padding-bottom: 200%;
    
    border-radius: 50%;
  }
  div .segurança:hover  .seg1 {
    display: block; 
  }
  .teste{
    margin-top: 45%;
    width: 100%;
    border-radius: 30%;
  }
  .segurança1{
    position: absolute;
    top: 15%;
    left: 82.6%;
    transform: translate(-50%, -50%);
    width: 5%;       
    padding-bottom: 5%;
   
    border-radius: 50%;
  }
  
  .segurança1 .seg2{
    display: none;
    position: absolute;   
    left: -100%;
    transform: translate(-50%, -50%);
    width: 200%;       
    padding-bottom: 200%;
    
    border-radius: 50%;
  }
  div .segurança1:hover  .seg2 {
    display: block; 
  }
  .teste1{
    margin-top: 50%;
    width: 100%;
    border-radius: 30%;
    
  }
  
  
  
  